::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  background-color: transparent;
  color: #2f80ed;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

@media (max-width: 768px) {
  label {
    font-size: 16px;
    white-space: wrap;
  }
}

.switch-body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  margin: 0px;
  padding: 12px 0 0px 44px;
}
.switch-label:before,
.switch-label:after {
  content: '';
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9e9e9e;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ecebeb;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #56ccf2;
}
.switch-input:checked + .switch-label:after {
  background-color: #2f80ed;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
