  
  .tabContainer {
      flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: visible !important;
  }
  
  .placeholder {
    max-width: 250px;
  }

  .navbarHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 250px;
    }

      
  
  .navbarContainer {
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-width: 0 0 1px;
    background-color: #fff;
    box-shadow: 0 0 4px #657786;
    height: 90px;
    display: flex;
    padding: 0 10px;
  }
  
  .navbarBrand {
  cursor: default;
  color: black;
  font-size: 30px;
  margin: 0;
  }

  .tab {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .tab > p {
    font-size: 21px;
    margin: 0 15px;
    white-space: nowrap
  }

  .activeTab {
    border-bottom: 2px solid #1da1f2;
  }

  .activeTab > p {
    color: #2f80ed !important;
  }

  .tab:hover > p {
    color: #2f80ed;
  }


  @media (max-width: 1065px) {
    .navbarContainer {
        flex-direction: column;
    }
    .placeholder {
        display: none;
    }

    .tab > p {
        font-size: 16px;
        margin: 0 8px;
    }

    .navbarBrand {
        font-size: 25px;
        }
    .tabContainer {
        overflow-x: scroll;
    }
  }

  