.navtabs>li>a {
    background-color: transparent;
    color: #2e2d2d;
    font-size: 1.5vh;
    font-weight: 500;
    margin: 0;
    border-left: 1px #ddd;
}

.navtabs>li>a:hover {
    background-color: #ddd !important;
    margin: 0;
}

.navtabs > li.active > a,
.navtabs > li.active > a:hover,
.navtabs > li.active > a:focus {
  color: #009688;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.5vh;
  margin:0;
}
@media (max-width: 767px) {
  .navtabs>li>a:hover {
    background-color: #ffffff !important;
  }
}
